<% layout("/layouts/boilerplate") %>

<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      <h3 class="mb-4">Create a New Listing</h3>

      <form method="POST" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
        
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Add a title" class="form-control" required>
          <div class="valid-feedback">Title Looks Good!</div>
          <div class="invalid-feedback">Please Enter a Valid Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Add details" class="form-control" rows="4" required></textarea>
          <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]" type="file" class="form-control">
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="12000" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Nagpur, Maharashtra" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Location</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="India" class="form-control" required>
          <div class="invalid-feedback">Please Enter a Valid Country</div>
        </div>

        <div class="d-grid d-md-block mt-4">
          <button class="btn btn-dark add-btn w-100 w-md-auto">Add</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
