<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br>
        <h3>Create a new listing </h3>
    <form method="POST" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a title" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Valid Title</div>
        </div>
        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Add details" class="form-control" required></textarea>
            <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>
       

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image of an Listing</label>
            <input name="listing[image]" type="file" class="form-control">
         </div>
         
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="12000"  class="form-control" required>
                <div class="invalid-feedback">Please Enter a Valid Price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Nagpur, Maharashtra" type="text" class="form-control" required>
                <div class="invalid-feedback">Please Enter a Valid Location</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Country</div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
       
    </form>
    </div>
    </div>
    
